Source: foreman-proxy
Section: net
Priority: extra
Maintainer: Ulrich Dangel <mru@spamt.net>
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.17~)
Standards-Version: 3.9.3
Homepage: http://theforeman.org/projects/smart-proxy
Vcs-Git: git://github.com/mrud/deb-smart-proxy.git
Vcs-Browser: https://github.com/mrud/deb-smart-proxy
XS-Ruby-Versions: all

Package: foreman-proxy
Architecture: all
Depends: libruby,
         rake,
         ruby | ruby-interpreter,
         ruby-json,
         ruby-sinatra,
         ${shlibs:Depends}, ${misc:Depends}
Description: RESTful proxies for DNS, DHCP, TFTP, and Puppet
 Smart-Proxy is a project which provides a RESTful API to various sub-systems
 like DNS, DHCP, TFTP, and Puppet.
 .
 Its goal is to provide API for a higher level orchestration tools.
 Smart-Proxy provides an easy way to add or extended existing
 sub-systems and APIs.
