#!/usr/bin/make -f
# -*- makefile -*-
# export DH_VERBOSE=1

%:
	dh $@ --buildsystem=ruby --with ruby

override_dh_auto_install:
	dh_auto_install -- --buildsystem=ruby --with ruby
	rm -rf debian/foreman-proxy/usr/lib/
